@font-face {
  font-family: 'RobotoMono-Bold';
  src: url("../fonts/Roboto_Mono/RobotoMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono-BoldItalic';
  src: url("../fonts/Roboto_Mono/RobotoMono-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono-Italic';
  src: url("../fonts/Roboto_Mono/RobotoMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono-Light';
  src: url("../fonts/Roboto_Mono/RobotoMono-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono-LightItalic';
  src: url("../fonts/Roboto_Mono/RobotoMono-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url("../fonts/Roboto_Mono/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik-Black';
  src: url("../fonts/Rubik/Rubik-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url("../fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik-Light';
  src: url("../fonts/Rubik/Rubik-Light.ttf") format("truetype");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "RobotoMono-Regular", "Arial Narrow", Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
}

body {
  font-family: "RobotoMono-Regular", "Arial Narrow", Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #484851;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  color: #484851;
  -webkit-text-decoration-skip: objects;
}

a:active {
  color: #484851;
}

a:active:not(.button) {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

@media print {
  :link,
  :visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
  }
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
}

h1 {
  font-size: 1.9375rem;
  line-height: 2;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.1875rem;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 0.875rem;
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 0.8125rem;
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

@media print {
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
}

b,
strong {
  font-weight: inherit;
}

strong,
b {
  font-weight: bolder;
}


code,
kbd,
samp,
var {
  font-family: Menlo, "DejaVu Sans Mono", "Ubuntu Mono", Courier, "Courier New", monospace, sans-serif;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ffea00;
  color: #484851;
}

small {
  font-size: 0.875rem;
}

sub,
sup {
  font-size: 0.8125rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  margin: 1.5rem 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td,
th {
  padding: 0;
}

/*
//------------------------------------------------------------------------------
// Home Views Welcome
//------------------------------------------------------------------------------
*/
.view-welcome {
  position: relative;
}

.view-welcome .Banner-welcome .views-field-field-baner-desktop {
  display: none;
}

@media (min-width: 666px) {
  .view-welcome .Banner-welcome .views-field-field-baner-desktop {
    display: block;
  }
}

@media (min-width: 666px) {
  .view-welcome .Banner-welcome .views-field-field-banner-mobil {
    display: none;
  }
}

.view-welcome .Banner-welcome .Banner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 700px;
  -webkit-transform: translate3d(-50%, -50%, 0px);
          transform: translate3d(-50%, -50%, 0px);
}

@media (min-width: 992px) {
  .view-welcome .Banner-welcome .Banner-box {
    max-width: 700px;
  }
}

.view-welcome .Banner-welcome .Banner-box p {
  font-family: "Rubik-Regular", "Arial Narrow", Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  text-align: center;
}

@media (min-width: 992px) {
  .view-welcome .Banner-welcome .Banner-box p {
    font-size: 1.5rem;
  }
}

.view-welcome .Banner-welcome .Banner-box h1 {
  font-family: "Rubik-Black", "Arial Narrow", Helvetica, sans-serif;
  color: white;
  line-height: 0.93;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .view-welcome .Banner-welcome .Banner-box h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 888px) {
  .view-welcome .Banner-welcome .Banner-box h1 {
    font-size: 2.6875rem;
  }
}

@media (min-width: 992px) {
  .view-welcome .Banner-welcome .Banner-box h1 {
    font-size: 50px;
  }
}

@media (min-width: 1200px) {
  .view-welcome .Banner-welcome .Banner-box h1 {
    font-size: 80px;
  }
}

.view-welcome .Banner-welcome .Banner-box .views-field-view-node a {
  width: 100%;
  display: block;
  font-family: "Rubik-Regular", "Arial Narrow", Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1.0em .7em;
  border: 3px solid #fff;
  max-width: 150px;
  margin: 0px auto;
}

/*
//------------------------------------------------------------------------------
// Home story about
//------------------------------------------------------------------------------
*/
.view-story-about-us {
  margin: 150px 0px;
}

.view-story-about-us .title p {
  font-size: 1.5rem;
  font-family: "RobotoMono-Regular", "Arial Narrow", Helvetica, sans-serif;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.view-story-about-us .sub-titulo h2 {
  font-size: 2.5rem;
  font-family: "Rubik-Black", "Arial Narrow", Helvetica, sans-serif;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.view-story-about-us .descripcions {
  font-size: 0.9375rem;
  font-family: "RobotoMono-Regular", "Arial Narrow", Helvetica, sans-serif;
  color: #999999;
  line-height: 1.6;
  text-align: center;
  margin: 51px 0px;
}

.view-story-about-us .views-row {
  max-width: 450px;
}

@media (min-width: 768px) {
  .view-story-about-us .views-row {
    max-width: initial;
  }
}

.view-story-about-us .wrapper-img {
  position: relative;
  margin-bottom: 15px;
}

.view-story-about-us .wrapper-img .views-field-field-imagen-layout .field-content {
  width: 100%;
}

.view-story-about-us .wrapper-img .views-field-field-imagen-layout .field-content img {
  width: 100%;
}

.view-story-about-us .wrapper-img .wrapper-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0px);
          transform: translate3d(-50%, -50%, 0px);
  z-index: -1;
}

.view-story-about-us .wrapper-img .wrapper-box .icons-layout img {
  margin: 0 auto;
}

.view-story-about-us .wrapper-img .wrapper-box .text-layout {
  font-size: 1.125rem;
  font-family: "Rubik-Black", "Arial Narrow", Helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.view-story-about-us .wrapper-img:hover {
  -webkit-box-shadow: -16px 16px 7px rgba(0, 0, 0, 0.2);
          box-shadow: -16px 16px 7px rgba(0, 0, 0, 0.2);
}

.view-story-about-us .wrapper-img:hover::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 156, 215, 0.71);
  z-index: 1;
  -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.view-story-about-us .wrapper-img:hover .views-field-field-imagen-layout img {
  -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.view-story-about-us .wrapper-img:hover .wrapper-box {
  z-index: 1;
}

/*
//------------------------------------------------------------------------------
// Home Views Facts
//------------------------------------------------------------------------------
*/
.view-facts {
  background-color: #009ddf;
}

.view-facts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0px;
}

.view-facts ul .views-row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  list-style: none;
  padding: 0px;
  padding-top: 35px;
  padding-bottom: 35px;
}

@media (min-width: 992px) {
  .view-facts ul .views-row {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
    border-right: 1px solid #4dbbe9;
    border-left: 1px solid #4dbbe9;
  }
}

.view-facts ul .views-row .views-field-name {
  font-size: 1.4375rem;
  font-family: "Rubik-Black", "Arial Narrow", Helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .view-facts ul .views-row .views-field-name {
    font-size: 1.9375rem;
  }
}

@media (min-width: 992px) {
  .view-facts ul .views-row .views-field-name {
    font-size: 4.5rem;
  }
}

.view-facts ul .views-row .views-field-description {
  font-size: 0.875rem;
  font-family: "Rubik-Regular", "Arial Narrow", Helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

/*
//------------------------------------------------------------------------------
// Menu
//------------------------------------------------------------------------------
*/
body.navbar-is-fixed-top {
  padding: 0px !important;
}

.main-container.container {
  width: 100% !important;
  padding: 0px !important;
}

.navbar-default {
  background-color: transparent;
  border: none;
  margin: 0px;
}

/*
//------------------------------------------------------------------------------
// Menu
//------------------------------------------------------------------------------
*/
.navbar-collapse.in {
  background-color: #494a4a5c;
}

@media (min-width: 768px) {
  .navbar-collapse.in {
    background-color: transparent;
  }
}

.navbar-header {
  background-color: #494a4a5c;
}

@media (min-width: 768px) {
  .navbar-header {
    background-color: transparent;
  }
}

.navbar-header .navbar-brand {
  height: 40px;
  padding: 10px 15px;
  font-family: "Rubik-Light", "Arial Narrow", Helvetica, sans-serif;
  line-height: 1.2;
  color: #fff;
}

.navbar-toggle {
  border-radius: 0px;
  border-width: 2px;
  position: relative;
  width: 47px;
  height: 40px;
}

.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: transparent !important;
}

.navbar-toggle span {
  background-color: #fff !important;
}

.navbar-toggle[aria-expanded="true"] {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  padding: 0px;
  border: none;
}

.navbar-toggle[aria-expanded="true"] span:nth-child(2) {
  -webkit-transform: rotate(-140deg);
      -ms-transform: rotate(-140deg);
          transform: rotate(-140deg);
  width: 30px;
  margin-left: -3px;
}

.navbar-toggle[aria-expanded="true"] span:nth-child(3) {
  display: none;
}

.navbar-toggle[aria-expanded="true"] span:nth-child(4) {
  -webkit-transform: rotate(140deg);
      -ms-transform: rotate(140deg);
          transform: rotate(140deg);
  width: 30px;
  margin-left: -4px;
  position: absolute;
  top: 38%;
}

section#block-menu-menu-menu-serempre {
  margin: 15px 0px;
}

section#block-menu-menu-menu-serempre .menu.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

@media (min-width: 768px) {
  section#block-menu-menu-menu-serempre .menu.nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

section#block-menu-menu-menu-serempre .menu.nav li .nolink {
  display: block;
  padding: .5rem 1rem;
}

section#block-menu-menu-menu-serempre .menu.nav li a,
section#block-menu-menu-menu-serempre .menu.nav li span {
  font-family: "Rubik-Light", "Arial Narrow", Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #fff;
}

@media (min-width: 768px) {
  section#block-menu-menu-menu-serempre .menu.nav li a,
  section#block-menu-menu-menu-serempre .menu.nav li span {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  section#block-menu-menu-menu-serempre .menu.nav li a,
  section#block-menu-menu-menu-serempre .menu.nav li span {
    padding: 10px 25px !important;
  }
}

@media (min-width: 992px) {
  section#block-menu-menu-menu-serempre .menu.nav li a.active::before,
  section#block-menu-menu-menu-serempre .menu.nav li span.active::before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0px, 0px);
            transform: translate3d(-50%, 0px, 0px);
    width: 70%;
    height: 2px;
    border: 2px solid #fff;
  }
}

section#block-menu-menu-menu-serempre .menu.nav li a:hover,
section#block-menu-menu-menu-serempre .menu.nav li span:hover {
  background: transparent;
}

section#block-menu-menu-menu-serempre .menu.nav li.market a,
section#block-menu-menu-menu-serempre .menu.nav li.market span, section#block-menu-menu-menu-serempre .menu.nav li.buscar a,
section#block-menu-menu-menu-serempre .menu.nav li.buscar span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: transparent no-repeat center center;
  background-size: contain;
  font-size: 0px;
  margin-top: 12px;
}

section#block-menu-menu-menu-serempre .menu.nav li.market a,
section#block-menu-menu-menu-serempre .menu.nav li.market span {
  background-image: url("../img/market.png");
}

section#block-menu-menu-menu-serempre .menu.nav li.buscar a,
section#block-menu-menu-menu-serempre .menu.nav li.buscar span {
  background-image: url("../img/buscar.png");
}

#block-search-form {
  display: none;
}

#block-search-form.in {
  display: block;
  -webkit-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

#block-search-form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#block-search-form .input-group .form-control {
  width: 100%;
  height: 37px;
  background-color: #494a4a5c;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

#block-search-form .input-group .form-control::-webkit-input-placeholder {
  color: #fff;
}

#block-search-form .input-group .form-control::-moz-placeholder {
  color: #fff;
}

#block-search-form .input-group .form-control::-ms-input-placeholder {
  color: #fff;
}

#block-search-form .input-group .form-control::placeholder {
  color: #fff;
}

#block-search-form .input-group .input-group-btn button {
  border-radius: 0px;
  padding: 8px 12px;
  border: 1px solid #fff;
  background-color: transparent;
}

#block-search-form .form-group {
  margin: 0px;
}

/*# sourceMappingURL=styles.css.map */
