@font-face {
  font-family: 'RobotoMono-Bold';
  src: url("../fonts/Roboto_Mono/RobotoMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono-BoldItalic';
  src: url("../fonts/Roboto_Mono/RobotoMono-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono-Italic';
  src: url("../fonts/Roboto_Mono/RobotoMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono-Light';
  src: url("../fonts/Roboto_Mono/RobotoMono-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono-LightItalic';
  src: url("../fonts/Roboto_Mono/RobotoMono-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url("../fonts/Roboto_Mono/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik-Black';
  src: url("../fonts/Rubik/Rubik-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url("../fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "RobotoMono-Regular", "Arial Narrow", Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
}

body {
  font-family: "RobotoMono-Regular", "Arial Narrow", Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #484851;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  color: #484851;
  -webkit-text-decoration-skip: objects;
}

a:active {
  color: #484851;
}

a:active:not(.button) {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

@media print {
  :link,
  :visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
  }
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
}

h1 {
  font-size: 1.9375rem;
  line-height: 2;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.1875rem;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 0.875rem;
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 0.8125rem;
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

@media print {
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
}

b,
strong {
  font-weight: inherit;
}

strong,
b {
  font-weight: bolder;
}


code,
kbd,
samp,
var {
  font-family: Menlo, "DejaVu Sans Mono", "Ubuntu Mono", Courier, "Courier New", monospace, sans-serif;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ffea00;
  color: #484851;
}

small {
  font-size: 0.875rem;
}

sub,
sup {
  font-size: 0.8125rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  margin: 1.5rem 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td,
th {
  padding: 0;
}

/*
//------------------------------------------------------------------------------
// footer
//------------------------------------------------------------------------------
*/
/*
//------------------------------------------------------------------------------
// Desktop
//------------------------------------------------------------------------------
*/

/*# sourceMappingURL=styles.css.map */
