/*
//------------------------------------------------------------------------------
// Menu
//------------------------------------------------------------------------------
*/

.navbar-collapse.in {
  background-color: #494a4a5c;
  @include respond-to(m) {
    background-color: transparent;
  }
}

// |--- Enlace ---|
.navbar-header {
  background-color: #494a4a5c;
  @include respond-to(m) {
    background-color: transparent;
  }
  .navbar-brand {
    height: 40px;
    padding: 10px 15px;
    font-family: $Rubik-Light;
    line-height: 1.2;
    color: color('white');
  }
}

// |---Button Mobil---|
.navbar-toggle {
  border-radius: 0px;
  border-width: 2px;
  position: relative;
  width: 47px;
  height: 40px;
  &:hover,
  &:focus {
    background-color: transparent !important;
  }
  span {
    background-color: color('white') !important;
  }
  &[aria-expanded="true"]{
    transition: all .3s;
    padding: 0px;
    border: none;
    span:nth-child(2) {
      transform: rotate(-140deg);
      width: 30px;
      margin-left: -3px;
    }
    span:nth-child(3) {
      display: none
    }
    span:nth-child(4) {
      transform: rotate(140deg);
      width: 30px;
      margin-left: -4px;
      position: absolute;
      top: 38%;
    }
  }
}

// |--- Menu ---|
section#block-menu-menu-menu-serempre {
  margin: 15px 0px;
  .menu.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    // background-color: red;
    @include respond-to(m) {
      justify-content: flex-end;
      flex-direction: row
    }
    li {
      .nolink {
        display: block;
        padding: .5rem 1rem;
      }
      a,
      span {
        font-family: $Rubik-Light;
        @include font-size(s);
        color: color('white');
        @include respond-to(m) {
          @include font-size(m);
        }
        @include respond-to(xl) {
          padding: 10px 25px !important;
        }
        &.active::before {
          @include respond-to(xl) {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translate3d(-50%, 0px, 0px);
            width: 70%;
            height: 2px;
            border: 2px solid color('white');
          }
        }
        &:hover {
          background: transparent;
        }
      }
      &.market,
      &.buscar {
        a,
        span {
          display: inline-block;
          width: 15px;
          height: 15px;
          background: transparent no-repeat center center;
          background-size: contain;
          font-size: 0px;
          margin-top: 12px;
        }
      }
      &.market {
        a,
        span {
          background-image: url('../img/market.png');;
        }
      }
      &.buscar {
        a,
        span {
          background-image: url('../img/buscar.png');
        }
      }
    }
  }
}

// |--- Buscar ---|
#block-search-form {
  display: none;
  &.in {
    display: block;
    transition: all 0.45s ease-in-out;
  }
  .input-group {
    display: flex;
    .form-control {
      width: 100%;
      height: 37px;
      background-color: #494a4a5c;
      border-radius: 0px;
      box-shadow: none;
      color: color('white');
      &::placeholder {
        color: color('white');
      }
    }
    .input-group-btn {
      button {
        border-radius: 0px;
        padding: 8px 12px;
        border: 1px solid color('white');
        background-color: transparent;
      }
    }
  }
  .form-group {
    margin: 0px;
  }
}